@import '_variables';
@import '_mixins';

.#{$fp-prefix} {
  @extend %fp-base;
  @if $fp-enable-4x3 == true {
    @include fp-size($fp-size);
  }

  @if $fp-enable-1x1 == true {
    &.#{$fp-prefix}-square{
      @include fp-size($fp-size, '1x1');
    }
  }

  &.#{$fp-prefix}-rounded{
    @include fp-rounded($fp-size / 6);
  }

  &.#{$fp-prefix}-md{
    

    @if $fp-enable-4x3 == true {
      @include fp-size($fp-size * 1.5);
    }

    @if $fp-enable-1x1 == true {
      &.#{$fp-prefix}-square{
        @include fp-size($fp-size * 1.5, '1x1');
      }
    }

    &.#{$fp-prefix}-rounded{
      @include fp-rounded($fp-size / 4);
    }
    
  }

  &.#{$fp-prefix}-lg{

    @if $fp-enable-4x3 == true {
      @include fp-size($fp-size * 2);
    }

    @if $fp-enable-1x1 == true {
      &.#{$fp-prefix}-square{
        @include fp-size($fp-size * 2, '1x1');
      }
    }

    &.#{$fp-prefix}-rounded{
      @include fp-rounded($fp-size / 4);
    }
  }

}

@each $country in $fp-countries {
	.#{$country} { 

    @if $fp-enable-4x3 == true {
      background-image: url('#{$fp-4x3-path}#{$country}.svg');
    }

    @if $fp-enable-1x1 == true {
      &.#{$fp-prefix}-square{
        background-image: url('#{$fp-1x1-path}#{$country}.svg');
      }
    }
    
	}
}
